<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>pokemon app</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

	<!-- nes.css -->
	<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
	<link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet">

	<style>
	html, body, pre, code, kbd, samp {
		font-family: "Press Start 2P";
	}
	</style>

	<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
		}

		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}
	</style>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
<div id='app'>
	<header>
		<div class="navbar navbar-dark bg-dark shadow-sm">
			<div class="container">
				<a href="/" class="navbar-brand d-flex align-items-center">
					<strong>{{ title }}</strong>
				</a>
			</div>
		</div>
	</header>

	<main>
		<section class="py-5 text-center container">
			<div class="row py-lg-5">
				<div class="col-lg-6 col-md-8 mx-auto">
					<h1 class="fw-light">search</h1>
					<p class="lead text-muted">please enter the keyword you want to search</p>
					<form>
						<div class="mb-3">
							<input type="text" class="nes-input" placeholder="number or name" v-model="name">
						</div>
						<button type="button" class="nes-btn is-primary" @click="search">search!</button>
					</form>
				</div>
			</div>
			<div class="row" v-if="pokemon.id">
				<div class="col-lg-7 col-md-7 mx-auto">
					<div class="nes-table-responsive">
						<table class="nes-table is-bordered is-centered">
							<tbody>
								<tr>
									<td>No</td>
									<td colspan="4">{{ pokemon.id }}</td>
								</tr>
								<tr>
									<td>name</td>
									<td colspan="4">{{ pokemon.name }}</td>
								</tr>
								<tr>
									<td>image</td>
									<td><img :src="pokemon.image_front_default"></td>
									<td><img :src="pokemon.image_back_default"></td>
									<td><img :src="pokemon.image_front_shiny"></td>
									<td><img :src="pokemon.image_back_shiny"></td>
								</tr>
								<tr>
									<td>type</td>
									<td colspan="2">{{ pokemon.type_1 }}</td>
									<td colspan="2">{{ pokemon.type_2 }}</td>
								</tr>
								<tr>
									<td>height</td>
									<td colspan="4">{{ pokemon.height }}m</td>
								</tr>
								<tr>
									<td>weight</td>
									<td colspan="4">{{ pokemon.weight }}kg</td>
								</tr>
								<tr>
									<td>HP</td>
									<td colspan="4">{{ pokemon.HP }}</td>
								</tr>
								<tr>
									<td>A(attack)</td>
									<td colspan="4">{{ pokemon.A }}</td>
								</tr>
								<tr>
									<td>B(defense)</td>
									<td colspan="4">{{ pokemon.B }}</td>
								</tr>
								<tr>
									<td>C(special-attack)</td>
									<td colspan="4">{{ pokemon.C }}</td>
								</tr>
								<tr>
									<td>D(special-defense)</td>
									<td colspan="4">{{ pokemon.D }}</td>
								</tr>
								<tr>
									<td>S(speed)</td>
									<td colspan="4">{{ pokemon.S }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
	</main>

	<footer class="text-muted py-5">
		<div class="container">
			<p class="float-end mb-1">
				<a href="#">Back to top</a>
			</p>
		</div>
	</footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
<script src="main.js"></script>
<script>
var app = new Vue({
	el: '#app',
	data: {
		name: '',
		pokemon: {
			id: '',
		},
	},
	methods: {
		search: function () {
			if (this.validateNotEmptyName()) {alert("検索キーワードを入力してください"); return;}
			axios.get('/api/search', {
				params: {
					name: app.name,
				}
			})
			.then(function (response) {
				console.log(response);
				app.pokemon = {
					id: response.data.id,
					name: response.data.name,
					image_front_default: response.data.sprites.front_default,
					image_back_default: response.data.sprites.back_default,
					image_front_shiny: response.data.sprites.front_shiny,
					image_back_shiny: response.data.sprites.back_shiny,
					type_1: response.data.types[0].type.name,
					type_2: response.data.types.length > 1 ? response.data.types[1].type.name : '',
					height: response.data.height / 10,
					weight: response.data.weight / 10,
					HP: response.data.stats[0].base_stat,
					A: response.data.stats[1].base_stat,
					B: response.data.stats[2].base_stat,
					C: response.data.stats[3].base_stat,
					D: response.data.stats[4].base_stat,
					S: response.data.stats[5].base_stat,
				};
			})
			.catch(function (error) {
				alert("検索できませんでした");
			});
		},
		validateNotEmptyName: function () {
			return this.name.length <= 0
		},
	}
})
</script>
</body>
</html>